body,html{
	height: 100%;
	width: 100%;
	font-family:'Montserrat', sans-serif;
	background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button{
	background-color: #F05F44;
	border-radius: 25px;
	border-color: #F05F44;
	width: 150px;
	height: 50px;
	color: white;
	text-transform: uppercase;
	font-size: 10px;
}

.button:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	width: 154px;
	height: 54px;
	
}
h1{
	color: white;
	text-transform: uppercase;
}

hr{
	height: 3px;
	background-color: #F05F44;
	max-width: 65px;
}

.buffer{
	height: 10rem;
}